.location {
    float: left;
    margin: 10px;
    width: 30%;
    font-size: large;
}
.weather {
    float: left;
    margin: 10px;
    width: 40%;

}

.page {

    padding: 5px auto;
    margin: 20px auto;
    text-align: center;
}

.locationBlock {
    padding: 5px auto;
    margin-top: 10px;

}

.fa {
    margin: 5px;
    float: right;
}

.address {

    font-size: large;
}

.btn {

    margin-left: 5px;
}