.weather, .map {
    height: 100px;
    float: left;
    margin: 10px;
    width: 30%;
}

.page {

    padding: 5px auto;
    margin: 10px auto;
}

.locationBlock {
    padding: 5px auto;
    margin: 10px;
    border: 1px solid black;


}

.fa {
    margin: 5px;
    float: right;
}

