.page, .locationBlock, .weather, .map {
    border: 1px solid black;

}

.weather, .map {
    height: 150px;
    float: left;
    margin: 10px;
}

.page {
    position: absolute;
    padding: 5px auto;
    margin: 20px auto;
}

.locationBlock {
    padding: 5px auto;
    margin: 10px;

}

.fa {
    margin: 5px;
}